# Kirby cache should not end up in repo
kirby/site/cache
kirby/site/cache/*

# Aptana/Eclipse project files and junk
.project
.metadata
*.launch
.settings/
kirby/content/01-events/10-londonjs-16/londonjs-16.txt

.DS_Store

kirby/content/01-events/12-londonjs-16/londonjs-16.txt

kirby/content/01-events/13-londonjs-16/londonjs-16.txt

kirby/content/01-events/11-arduinoworkshop-1/arduinoworkshop-1

kirby/content/01-events/11-arduinoworkshop-1/arduinoworkshop-1

kirby/content/01-events/12-designmodelling-1/designmodelling-1

kirby/content/01-events/12-arduinoworkshop-1/arduinoworkshop-1

kirby/content/01-events/13-designmodelling-1/designmodelling-1
