# Kirby cache should not end up in repo
kirby/site/cache
kirby/site/cache/*

# Aptana/Eclipse project files and junk
.project
.metadata
*.launch
.settings/
kirby/content/01-events/10-londonjs-16/londonjs-16.txt

.DS_Store

kirby/content/01-events/12-londonjs-16/londonjs-16.txt
