@outerbar : #ebebeb;
@innerbar : #ffffff;
@good : #98c429 ;
@medium : #f8b230 ;
@poor : #e40812;

// Global Reset
* {
  margin: 0;
  padding: 0;
}

.site {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
}

h2 {
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.nav {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 35px;

	li {
		display: inline;
		margin-right: 15px; 
	}

	a {
		color: #000000;
		
		:visited {
			color: #000000;
		}
	}
}

#eventslist {
	width: 500px;
	margin: 0 auto;
	border-bottom: 1px dashed #cccccc;

	div {
		margin-bottom: 10px;
	}

	a {
		color: #000000;
		font-size: 18px;

		:visited {
			color: #000000;
		}
	}

	li {
		list-style-type: none;
		margin: 30px 0;
	}
}

.speaker {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

.spacesremaining {
	font-weight: bold;
}

// Styling the Tickets Sold "Percentage Bars"
.good{
	.outerbar{
		.innerbar{
			background-color:@good;
		}
	}
	.percentage{
		color:@good;
	}
}
.middle{
	.outerbar{
		.innerbar{
			background-color:@medium;
		}
	}
	.percentage{
		color:@medium;
	}
}
.poor{
	.outerbar{
		.innerbar{
			background-color:@poor;
		}
	}
	.percentage{
		color:@poor;
	}
}

.percentagebar{
	width:500px;
	.outerbar{
		float:left;
    margin: 5px 10px 0px 0px;
		width:450px;
		background-color: @outerbar;
		height:10px;
		border-radius:6px;
		.innerbar{
			height:10px;
			border-radius:6px;
		}
	}
}

.tips, .subjects {
	padding-top: 25px;
	margin: 0 auto;
	width: 500px;

	p {
		margin-bottom: 15px;
	}
}

.exercisetips {
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px dashed #cccccc;

	li {
		margin-bottom: 10px;
		text-align: left;
	}
}

.generaltips {
		padding-bottom: 25px;
		border-bottom: 1px dashed #cccccc;

	li {
		margin-bottom: 10px;
		text-align: left;
	}

}

.subjectlist {
		padding-bottom: 25px;
		border-bottom: 1px dashed #cccccc;

	li {
		margin-bottom: 10px;
		text-align: left;
	}
}

.errorhead {
	width: 500px;
	margin: 0 auto;
}

.error {
	width: 500px;
	margin: 0 auto;
	padding-bottom: 50px;
}