@outerbar : #ebebeb;
@innerbar : #ffffff;
@good : #98c429 ;
@medium : #f8b230 ;
@poor : #e40812;

// Global Reset
* {
  margin: 0;
  padding: 0;
}

.site {
	margin: 25px 0;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
}

h2 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}

#eventslist {
	width: 500px;
	margin: 0 auto;

	li {
		list-style-type: none;
		margin: 30px 0;
	}
}

// Styling the Tickets Sold "Percentage Bars"
.good{
	.outerbar{
		.innerbar{
			background-color:@good;
		}
	}
	.percentage{
		color:@good;
	}
}
.middle{
	.outerbar{
		.innerbar{
			background-color:@medium;
		}
	}
	.percentage{
		color:@medium;
	}
}
.poor{
	.outerbar{
		.innerbar{
			background-color:@poor;
		}
	}
	.percentage{
		color:@poor;
	}
}

.percentagebar{
	width:500px;
	.outerbar{
		float:left;
    margin: 5px 10px 0px 0px;
		width:450px;
		background-color: @outerbar;
		height:10px;
		border-radius:6px;
		.innerbar{
			height:10px;
			border-radius:6px;
		}
	}
}