* {
  margin: 0;
  padding: 0;
}
.site {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.nav {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.nav li {
  display: inline;
  margin-right: 15px;
}
.nav a {
  color: #000000;
}
.nav a :visited {
  color: #000000;
}
#eventslist {
  width: 500px;
  margin: 0 auto;
  border-bottom: 1px dashed #cccccc;
}
#eventslist div {
  margin-bottom: 10px;
}
#eventslist a {
  color: #000000;
  font-size: 18px;
}
#eventslist a :visited {
  color: #000000;
}
#eventslist li {
  list-style-type: none;
  margin: 30px 0;
}
.speaker {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.spacesremaining {
  font-weight: bold;
}
.good .outerbar .innerbar {
  background-color: #98c429;
}
.good .percentage {
  color: #98c429;
}
.middle .outerbar .innerbar {
  background-color: #f8b230;
}
.middle .percentage {
  color: #f8b230;
}
.poor .outerbar .innerbar {
  background-color: #e40812;
}
.poor .percentage {
  color: #e40812;
}
.percentagebar {
  width: 500px;
}
.percentagebar .outerbar {
  float: left;
  margin: 5px 10px 0px 0px;
  width: 450px;
  background-color: #ebebeb;
  height: 10px;
  border-radius: 6px;
}
.percentagebar .outerbar .innerbar {
  height: 10px;
  border-radius: 6px;
}
.tips,
.subjects {
  padding-top: 25px;
  margin: 0 auto;
  width: 500px;
}
.tips p,
.subjects p {
  margin-bottom: 15px;
}
.exercisetips {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #cccccc;
}
.exercisetips li {
  margin-bottom: 10px;
  text-align: left;
}
.generaltips {
  padding-bottom: 25px;
  border-bottom: 1px dashed #cccccc;
}
.generaltips li {
  margin-bottom: 10px;
  text-align: left;
}
.subjectlist {
  padding-bottom: 25px;
  border-bottom: 1px dashed #cccccc;
}
.subjectlist li {
  margin-bottom: 10px;
  text-align: left;
}
.errorhead {
  width: 500px;
  margin: 0 auto;
}
.error {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}
