<!DOCTYPE html>
<html>
    {% include header.html title = "homepage" %}
    <body>
          {%include navbar.html %}
        <div class="site">

<h2> Event Handler Calendar </h2>
{%assign high = 0 %}
{%assign low = 999999999999999 %}
  {% for events in site.data.events %}
    {% if events.epoch_s_date > high %}
    {% assign high = events.epoch_s_date %}
    {%endif%}

    {% if events.epoch_s_date < low %}
    {% assign low = events.epoch_s_date %}
    {%endif%}
  {% endfor %}
{%assign months = {{high|minus:low|times:1 | monthcount}} %}
{% for i in (0...months) %}
<h3>{{low|current_month_name:i}}, {{low|current_year:i}}</h3>
<div class="calendarmonth">
{%assign days = low|days_in_month:i%}
  {% for j in (1...days) %}
      {% assign p = {{low|add_months_return_unix: i |add_days_return_unix: j}} %} <!--iterates through months and days and adds the relevant time to it -->
      {% assign p = p |times: 1%} <!--cast to number -->

    {%if j == 1%}

    <div class="day indent{{p|day_of_week}}">
      {%else%}
      <div class="day">
    {%endif%}
      <span>
        {{j}}
      </span>
    {% for event in site.data.events %}
    {%assign event_epoch = event.epoch_s_date| times: 1 %} <!--cast to number -->
      {%assign timer = {{event_epoch| minus: p}}%} <!-- start time minus beginning of day -->
      {%assign timer = timer|times:1%} <!-- cast to int -->
      {%if timer < 86400 %} <!-- if result is less than ammount of seconds in day -->
        {%if timer > 0%} <!-- and greater than zero -->
          <a href="{{event.url}}/{{event.filename}}.html">{{event.title}}</a>
      {%endif%}
      {%endif%}
    {% endfor %}
  </div>
  {% endfor %}
{% endfor %}
</div>

</div>
</body>
{%include footer.html %}
</html>