<!DOCTYPE html>
<html>
	{%assign datenow = {{site.time | date: '%s'}} | times: 1%} <!-- Assigns the compile time date to datenow to compare against. -->
    {% include header.html title = "homepage" %}
    <body>
          {%include navbar.html %}
        <div class="site">
          <h2> Events List </h2>
			 <ul>
			  {% for events in site.data.events %}
			  {%if events.epoch_s_date > datenow%}
			  <li>
			      <a href="{{events.url}}/{{events.filename}}.html">{{ events.title }}</a>
			      <span>{%if events.epoch_s_end_date%}
	                {{events.epoch_s_date | prettyDate : events.epoch_s_end_date}}
	              {%else%}
	                {{events.epoch_s_date | prettyDate : "null"}}
	              {%endif%}
	          </span>
			      <ul>
			      	{%for speakers in events.speakerID%}
			      	<li>Speaker : {{site.data.speakers[speakers].name}}
			      	{% endfor %}
			  	</ul>
			  </li>
			  {% endif %}
			  {% endfor %}
			  </ul>
			<h2> Category List </h2>
			<ul>
			{%assign series_sorted_alpha = site.data.series_list | alphasort %}
			  {% for seriess in series_sorted_alpha%}
			  	{%for seri in site.data.series[seriess.series]%}
				  {%if seri.epoch_s_date > datenow%}
					  <li>
					      <a href="{{seriess.url}}/">{{seriess.prettyname}}</a>
					      <p>{{seriess.description}}</p>
					  </li>
					{%break%}
			  	  {%endif%}
			  	{%endfor%}
			  {% endfor %}
			</ul>
          {% include footer.html %}
        </div>

    </body>
</html>
