---
layout: workshoplist
title: Events
---
<h2> Workshops Listing </h2>
 <ul id="eventslist">
  {% for events in site.data.events %}
  {% if events.directory_tags contains "workshops" %}
  <li {%if events.eventbriteid%}data-evb="{{events.eventbriteid}}"{%endif%} >
      <a href="{{events.url}}/{{events.filename}}.html">{{ events.title }} </a>
      <div>{{events.date}}</div>
      <div>
	      {% for speaks in events.speakerid %}
	      	{{site.data.speakers[speaks].name}}
	      	{% if forloop.rindex0 > 0%}
		      	,
	      	{%endif%}
	      {%endfor%}
      </div>
      <div>
      	{%if events.where %}
      		{{site.data.venues[events.where].name}}
      	{%endif%}
      </div>
      {%if events.eventbriteid%}
      <div>Spaces remaining: 
      	<span id="{{events.eventbriteid}}">
      		<img src="/assets/img/tempspinnersmall.gif"></img>
      	</span>
      </div>
      {%endif%}
  </li>
  {% endif %}
  {% endfor %}
  </ul>